<br><br>

<div class="d-flex justify-content-around align-content-start flex-wrap">

  {{#each attractions as | attraction | }}

  <div class="card text-center mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ attraction.name }}</h5>
      <br>
      <h6 class="card-subtitle mb-2 text-muted">{{ attraction.price }} </h6>
      <h6 class="card-subtitle mb-2 text-muted">{{ attraction.cuisine }} </h6>
      <p class="card-text">{{ attraction.location }}</p>
      <a href="/api/attractions/{{attraction.id}}" class="card-link">View details</a>
    </div>
  </div>

  {{/each}}

</div>
<br><br><br>

<script src="/js/attractions.js"></script>