<div class="card">
  <div class="container">
  <div class="card-body row justify-content-evenly">
    <h5 class="card-title">{{attraction.name}}</h5>
    <h6 class="card-subtitle mb-4 text-muted">{{attraction.cuisine}}</h6>
    <p class="card-text mt-1">{{attraction.year}}
    <p class="card-text mt-0">{{attraction.phonenumber}}
    <p class="card-text mt-0">{{attraction.location}}
    <p class="card-text mt-0">{{attraction.price}}</p>
   <a href="{{attraction.url}}" class="card-link">{{attraction.url}}</a>
  </div>
</div>
</div>
{{!-- <div class="input-group input-group-lg mb-5 mt-5">
  <span class="input-group-text" id="inputGroup-sizing-lg">{{Username}}</span>
  <output  type="text" id="comment-output"class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div> --}}
{{!-- <div class="input-group input-group-lg mb-5 mt-5">
  <span class="input-group-text" id="inputGroup-sizing-lg">{{Username}}</span>
  <input type="text" id="commentInput" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div> --}}

{{!-- add review: --}}
<div class="container">
<div class="input-group mb-5 mt-5">
  <input type="text" class="form-control" placeholder="Add a review..." aria-label="Add a review..."
    aria-describedby="button-addon2" id="comment-input">
  <button class="btn btn-outline-secondary" type="button" id="submit-button">Submit</button>
</div>
</div>

<div id="comment-output"></div>

{{!-- list of reviews --}}
<div class="d-flex justify-content-around align-content-start flex-wrap">
{{#each attraction.reviews as |review|}}
<div class="card">
  <div class="card-body">
   <p>{{review.body}}</p>
<p>Posted by: {{review.user.username}} on {{format_date review.createdAt}} </p>
  </div>
</div>

{{/each}}
</div>

  <script src="/js/one-restaurant.js"></script>